* {
    font-family: Arial, Helvetica, sans-serif,;
}

body {
    font-size: 25px;
    background-color: hsl(0, 0%, 95%);
    margin: 0; 
}

#textLabel {
    padding: 5px;
    border-radius: 5px;
}

#submit {
    font-size: 1em;
    margin-left: 10px;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
}

#submit:hover  {
    background-color: hsl(0, 73%, 58%);
}

#countLabel {
    display: block;
    text-align: center;
    font-size: 10em;
}
#buttonContainer {
    text-align: center;
}
.buttons {
    padding: 10px 20px;
    font-size: 1.5em;
    font-color: hsl(0, 0%, 100%);
    background-color: hsl(240, 42%, 64%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color o.25s;
}
.buttons:hover{
    background-color: hsl(240, 42%, 48%);
}

#myBtn {
    padding: 10px 20px;
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 5px;
}

.myLabels {
    font-size: 3em;
}

#mySubmit {
    font-size: 1em;
    margin-left: 10px;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
}

#mySubmit:hover  {
    background-color: hsl(0, 73%, 58%);
}

form {
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsl(0, 0%, 0%, 0.3);
}

#formH1 {
    color: hsl(232, 78%, 58%);
}

#myBtn:hover {
    background-color: hsl(0, 73%, 58%);
    cursor: pointer;
}

#textBox {
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid hsla(0, 0%, 0%, 0.8);
    border-radius: 4px;
    margin-bottom: 15px;
}

.formLabel {
    font-size: 1em;
    font-weight: bold;
}

#formButton {
    margin-top: 15px;
    font-size: 1em;
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: hsl(0, 73%, 60%);
} 

#formButton:hover {
    background-color: hsl(0, 73%, 50%);
}

#result {
    font-size : 1.75em;
    font-weight: bold;
}

#clock-contanier {
    background-image: url(200.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock {
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: whitesmoke;
    backdrop-filter: blur(5px);
    width: 100%;
    background-color: hsl(0, 0%, 100%, 0.1);
}


